[build]
command = "npm run build"
publish = "public"

[functions]
  external_node_modules = ["@sendgrid/client"]

[dev]
command = "npm run dev"
targetPort = 3000

[[redirects]]
  from = "/contact-form"
  to = "/"

# [[redirects]]
#   from = "/ls/click"
#   to = "/.netlify/functions/sg"
#   status = 200
#   force = true

# Set immutable caching for static files, because they have fingerprinted filenames

[[headers]]
for = "/build/*"

[headers.values]

"Cache-Control" = "public, max-age=31560000, immutable"

# Cache CSS files
[[headers]]
for = "/*.css"
[headers.values]
"Cache-Control" = "public, max-age=31536000, immutable"
"Netlify-CDN-Cache-Control" = "public, max-age=31536000, immutable"

# Cache JavaScript files
[[headers]]
for = "/*.js"
[headers.values]
"Cache-Control" = "public, max-age=31536000, immutable"
"Netlify-CDN-Cache-Control" = "public, max-age=31536000, immutable"

# Cache HTML files, but with a shorter duration since content may change
[[headers]]
for = "/*.html"
[headers.values]
"Cache-Control" = "public, max-age=3600"
"Netlify-CDN-Cache-Control" = "public, max-age=3600"
"Vary" = "Accept-Encoding"

# Optimize caching for Sanity images
[[headers]]
for = "https://cdn.sanity.io/images/*"
[headers.values]
"Cache-Control" = "public, max-age=31536000, immutable"
"Netlify-CDN-Cache-Control" = "public, max-age=31536000, immutable"
"Vary" = "Accept"

[[headers]]
for = "/*"
[headers.values]
X-Frame-Options = "SAMEORIGIN"
X-Content-Type-Options = "nosniff"
X-XSS-Protection = "1; mode=block"
Content-Security-Policy = '''
  default-src 'self';
  script-src 'self' https://www.googletagmanager.com https://www.google-analytics.com  https://connect.facebook.net https://www.facebook.com;
  style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
  img-src 'self' https://cdn.sanity.io https://www.facebook.com;
  font-src 'self' https://fonts.gstatic.com;
  frame-src 'self' https://www.youtube.com https://www.instagram.com https://www.threads.net https://www.linkedin.com https://www.x.com https://www.facebook.com;'''
Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
