@tailwind base;
@tailwind components;
@tailwind utilities;

/* full bleed holy grail layout https://www.joshwcomeau.com/css/full-bleed/ */
.holy-grail {
  display: grid;
  grid-template-columns: 1fr min(65ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}
.holy-grail > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
