name: Sanity backup
on:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4

      - run: npx @sanity/cli dataset export production ${{ steps.date.outputs.date }}.tar.gz
        working-directory: ./
        env:
          SANITY_STUDIO_API_PROJECT_ID: ${{ secrets.SANITY_STUDIO_PROJECT_ID }}
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_BACKUP_TOKEN }}

      - uses: actions/upload-artifact@v4
        with:
          name: production
          path: backups/${{ steps.date.outputs.date }}.tar.gz
          retention-days: 30
